body {
  background-color: white;
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  margin: 0 !important;
}

h2,
h3 {
  font-size: 25px;
}

.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  padding: 15px;
}

.logo {
  width: 500px;
  font-size: 50px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  padding: 20px 0;
  background-color: darkcyan;
  border-top: 2px solid rgb(0, 247, 255);
  border-bottom: 2px solid rgb(0, 247, 255);
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 15px;
}

.footer {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  text-align: center;
  border-top: 3px solid rgb(19, 175, 189);
}

ol {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  font-size: 16px;
  height: 40px;
  line-height: 200%;
  display: inline-block;
}

ol a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  display: block;
}

ol > li {
  float: left;
  width: 150px;
  height: 40px;
  /* border-right: 1px solid rgb(0, 247, 255); */
}

ol > li:hover {
  color: white;
}

ol > li:hover > a {
  color: whitesmoke;
}
